.d-form-group {
	margin-bottom: 10px;
}

.d-form-control {
	box-sizing: border-box;
}
label.d-form-control {
	box-sizing: border-box;
	display: block;
	padding: 9px 0 5px 0;
	font-weight: bold;
}

input[type="text"].d-form-control, 
input[type="password"].d-form-control,
input[type="email"].d-form-control,
input[type="date"].d-form-control,
input[type="datetime-local"].d-form-control,
input[type="month"].d-form-control,
input[type="week"].d-form-control,
input[type="time"].d-form-control,
input[type="search"].d-form-control,
input[type="tel"].d-form-control,
input[type="url"].d-form-control,
input[type="number"].d-form-control {
	width: 100%;
    padding: 0 6px;
    min-height: 34px;
    line-height: 34px;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 1.1em;
}
textarea.d-form-control {
	width: 100%;
	padding: 0 0.5em;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

button.d-form-control,
input[type="submit"].d-form-control,
input[type="button"].d-form-control {
	padding: 0.65em 1em;
	background-color: #e6e6e6;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}

input[type="text"].d-form-control:focus, 
input[type="password"].d-form-control:focus,
input[type="email"].d-form-control:focus,
input[type="date"].d-form-control:focus,
input[type="datetime-local"].d-form-control:focus,
input[type="month"].d-form-control:focus,
input[type="week"].d-form-control:focus,
input[type="time"].d-form-control:focus,
input[type="search"].d-form-control:focus,
input[type="tel"].d-form-control:focus,
input[type="url"].d-form-control:focus,
input[type="number"].d-form-control:focus,
textarea.d-form-control:focus,
button.d-form-control:focus, 
input[type="submit"].d-form-control:focus,
input[type="button"].d-form-control:focus {
	border-color: transparent;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(117,170,255,1);
	-moz-box-shadow: 0px 0px 1px 1px rgba(117,170,255,1);
	box-shadow: 0px 0px 1px 1px rgba(117,170,255,1);
	outline: 0;
}

.d-input-group {
	display: inline-table;	
	border-collapse: separate;
}
.d-input-group > {
	display: table-cell;
}

@media screen and (min-width: 768px) {
	label.d-form-control {
		text-align: right;
	}
}