/* Drawf - Basic 12 grid layout */
.d-row {
	box-sizing: border-box;
}
.d-row:after {
  	content: "";
  	display: table;
  	clear: both;
}
.d-row > * {
    box-sizing: border-box;
	min-height: 1px;
}
.d-row > [class*="d-col-xs-"],
.d-row > .d-xs-one-quarter,
.d-row > .d-xs-one-third,
.d-row > .d-xs-one-half, 
.d-row > .d-xs-two-thirds,
.d-row > .d-xs-three-quarters {
    float: left;
}

.d-row-flex, 
.d-row-xs-flex,
.d-vertical-fill {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.d-row-xs-flex > *,
.d-row-flex > * {
    display: flex;
}

.d-col-xs-1 {
	width: 8.333333333333332%;
}
.d-col-xs-2 {
	width: 16.666666666666664%;
}
.d-col-xs-3, .d-xs-one-quarter {
	width: 25%;
}
.d-col-xs-4, .d-xs-one-third {
	width: 33.33333333333333%;
}
.d-col-xs-5 {
	width: 41.66666666666666%;
}
.d-col-xs-6, .d-xs-one-half {
	width: 50%;
}
.d-col-xs-7 {
	width: 58.333333333333336%;
}
.d-col-xs-8, .d-xs-two-thirds {
	width: 66.66666666666666%;
}
.d-col-xs-9, .d-three-quarters {
	width: 75%;
}
.d-col-xs-10 {
	width: 83.33333333333334%;
}
.d-col-xs-11 {
	width: 91.66666666666666%;
}
.d-col-xs-12 {
	width: 100%;
}

@media screen and (min-width: 768px) {
    .d-row > * {
        padding: 0 3px;
    }
    .d-row > *:first-child {
        padding-left: 0;
    }
    .d-row > *:last-child {
        padding-right: 0;
    }
    .d-row.d-compact > * {
    	padding: 0;
    }
    .d-row-sm-flex, .d-sm-vertical-fill {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .d-row-sm-flex > * {
        display: flex;
    }
    .d-row > [class*="d-col-sm-"],
    .d-row > .d-sm-one-quarter,
    .d-row > .d-sm-one-third,
    .d-row > .d-sm-one-half, 
    .d-row > .d-sm-two-thirds,
    .d-row > .d-sm-three-quarters {
        float: left;
    }
    .d-col-sm-1 {
    	width: 8.333333333333332%;
    }
    .d-col-sm-2 {
    	width: 16.666666666666664%;
    }
    .d-col-sm-3, .d-sm-one-quarter {
    	width: 25%;
    }
    .d-col-sm-4, .d-sm-one-third {
    	width: 33.33333333333333%;
    }
    .d-col-sm-5 {
    	width: 41.66666666666666%;
    }
    .d-col-sm-6, .d-sm-one-half {
    	width: 50%;
    }
    .d-col-sm-7 {
    	width: 58.333333333333336%;
    }
    .d-col-sm-8, .d-sm-two-thirds {
    	width: 66.66666666666666%;
    }
    .d-col-sm-9, .d-sm-three-quarters {
    	width: 75%;
    }
    .d-col-sm-10 {
    	width: 83.33333333333334%;
    }
    .d-col-sm-11 {
    	width: 91.66666666666666%;
    }
    .d-col-sm-12 {
    	width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .d-row-md-flex, .d-md-vertical-fill {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .d-row-md-flex > * {
        display: flex;
    }
    .d-row > [class*="d-col-md-"] {
        float: left;
    }
    .d-col-md-1 {
    	width: 8.333333333333332%;
    }
    .d-col-md-2 {
    	width: 16.666666666666664%;
    }
    .d-col-md-3, .d-md-one-quarter {
    	width: 25%;
    }
    .d-col-md-4, .d-md-one-third {
    	width: 33.33333333333333%;
    }
    .d-col-md-5 {
    	width: 41.66666666666666%;
    }
    .d-col-md-6, .d-md-one-half {
    	width: 50%;
    }
    .d-col-md-7 {
    	width: 58.333333333333336%;
    }
    .d-col-md-8, .d-md-two-thirds {
    	width: 66.66666666666666%;
    }
    .d-col-md-9, .d-md-three-quarters {
    	width: 75%;
    }
    .d-col-md-10 {
    	width: 83.33333333333334%;
    }
    .d-col-md-11 {
    	width: 91.66666666666666%;
    }
    .d-col-md-12 {
    	width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .d-row-lg-flex, .d-lg-vertical-fill {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
    }
    .d-row-lg-flex > * {
        display: flex;
    }
    .d-row > [class*="d-col-lg-"] {
        float: left;
    }
    .d-col-lg-1 {
    	width: 8.333333333333332%;
    }
    .d-col-lg-2 {
    	width: 16.666666666666664%;
    }
    .d-col-lg-3, .d-lg-one-quarter {
    	width: 25%;
    }
    .d-col-lg-4, .d-lg-one-third {
    	width: 33.33333333333333%;
    }
    .d-col-lg-5 {
    	width: 41.66666666666666%;
    }
    .d-col-lg-6, .d-lg-one-half {
    	width: 50%;
    }
    .d-col-lg-7 {
    	width: 58.333333333333336%;
    }
    .d-col-lg-8 {
    	width: 66.66666666666666%;
    }
    .d-col-lg-9, .d-lg-three-quarters {
    	width: 75%;
    }
    .d-col-lg-10 {
    	width: 83.33333333333334%;
    }
    .d-col-lg-11 {
    	width: 91.66666666666666%;
    }
    .d-col-lg-12 {
    	width: 100%;
    }
}